<div class="quotes-container">
  <h2>Live Quotes</h2>

  <div *ngIf="quotes && Object.keys(quotes).length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Instrument</th>
          <th>Last Price</th>
          <th>Change</th>
          <th>Change %</th>
          <th>Volume</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instrumentToken of instrumentsToFetch">
          <ng-container *ngIf="quotes[instrumentToken] as quote">
            <td>{{ instrumentToken }}</td>
            <td>{{ quote.last_price | currency }}</td>
            <td>{{ quote.net_change | currency }}</td>
            <td>{{ quote.net_change_percentage | number:'1.2-2' }}%</td>
            <td>{{ quote.volume | number }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!quotes || Object.keys(quotes).length === 0 && !errorMessage">
    <p>No live quotes available.</p>
  </div>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>
